{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>Home</h1>

<div class="flex flex-col gap-1 mt-2">
    <a href="{{ url_for('player_to_player') }}" class="text-blue-700">Player to Player</a>
    <a href="{{ url_for('play_online') }}" class="text-blue-700">Play Online</a>
    <a href="{{ url_for('play_with_ai') }}" class="text-blue-700">Play with AI</a>
    <a href="{{ url_for('rules') }}" class="text-blue-700">Rules</a>
    <a href="{{ url_for('patch_user') }}" class="text-blue-700">patch User</a>
</div>

{% endblock %}
